.createButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.createButton:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.createButton:focus {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    outline: none;
}

.createModal {
    width: 80vw !important;
    max-width: 80vw;
}

.editor {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-height: 20vh;
}